$bodyColor: bisque;
$backgroundKeyboard: #3b5a71;
body{
    background-color: $bodyColor;
}
.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 200px 350px;
    grid-auto-columns: 80%;
}
.text-block__textarea{
    width: 100%;
    height: 10rem;
}
.keyboard{
    background-color: $backgroundKeyboard;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 10px;
    color: white;
    font-size: larger;
    font-family: serif;
}
.button-key{
    background-color: #6386a1;
    border: 1px #2f485a solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-key:hover{
    background-color: #9bb2c4;
}
.button__i-0__j-13{
    grid-column-start: 14;
    grid-column-end: 16;
}
.button__i-1__j-0{
    grid-column-start: 1;
    grid-column-end: 3;
}
.button__i-2__j-0{
    grid-column-start: 1;
    grid-column-end: 3;
}

.button__i-3__j-0{
    grid-column-start: 1;
    grid-column-end: 4;
}
.button__i-3__j-11{
    grid-column-start: 14;
    grid-column-end: 16;
}
.button__i-4__j-3{
    grid-column-start: 4;
    grid-column-end: 10;
}
.button__i-4__j-6{
    grid-column-start: 12;
    grid-column-end: 16;
    background-color: $backgroundKeyboard;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    border: 0;
}
.button__i-4__j-6:hover{
    background-color: $backgroundKeyboard;
}
.button__i-0__Arrow, .button__i-2__Arrow{
    background-color: $backgroundKeyboard;
    border: 0;
}
.active_button{
    background-color: green;
}
.active_button_shift{
    background-color: green;
}
.capslock{
    text-transform: uppercase;
}